@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }



  @font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
 

h3 {
    font-size: 34px;
    color: lavender;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
}

h6 {
    font-size: 14px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
}

* {
    text-align: center;

    font-size: 18px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    color: #070707;
}
body {
    background: radial-gradient(at top, #5bb885, #15a74f) fixed;
}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hiden;
    flex-direction: column;
    justify-content: center;

}

.container {
    margin: 0 auto;
    max-width: 700px;
}

.game_board {
    width: 500px;
    height: 500px;
    border-collapse: collapse;
    border: 0px solid black;
}
.game_board td, tr {
    border: 0px solid black;
    padding: 0px;
}

.cell {
    position: relative;
    width: 100%;
    height: 100%;

    padding: 0px;
    margin: 0px;
    border: 1px solid black;

    background-color: bisque;
}